<div class="card mb-5">
  <h5 class="card-header text-center">Guía para ingresar los parámetros al método</h5>
  <div class="card-body">
    <div class="container">
      <div class="row center-container">
        <div class="col-md-offset-1 col-md-10">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <a class="panel panel-default first" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <div class="panel-heading clickable-panel" role="tab" id="headingOne">
                <h5 class="panel-title">Puntos {(x1,y1),(x2,y2)..(xn,yn)}</h5>
              </div>
            </a>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body not-clickable inside">
                <ul class="list-unstyled">
                  <li class="mb-3">
                    <strong>Para ingresar los puntos (<code>x</code>)</strong>: Utiliza espacio para separar cada uno de los x, recuerda que cada x debe ser ÚNICA.<ul>
                      <li>
                        Ejemplo: <code>1 2 3 4 5</code>
                      </li>
                    </ul>
                  </li>
                  <li class="mb-3">
                    <strong>Para ingresar los puntos (<code>y</code>)</strong>: Utiliza espacio para separar cada uno de los y, en el mismo orden en el que se definieron las x (para armar las parejas x,y).<ul>
                      <li>
                        Ejemplo: <code>6 7 8 9 10</code>
                      </li>
                    </ul>
                  </li>
                  Recuerda que ambos vectores deben ser del mismo tamaño, y no tiene importancia que no se ingresen de menor a mayor, pues esto serán organizados en la ejecución del programa.
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
