{% extends 'layouts/app.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/components/input_guidelines_card.css' %}" />
{% endblock %}

{% block title %} Método de bisección {% endblock %}

{% block content %}


<div class="container">
  <div class="row">
    <div class="col-md-6">
      {% include 'components/input_guidelines_card.html' %}
    </div>
    <div class="col-md-6">
      <form method="POST" action="{% url 'numerical_method:bisection' %}">
        {% csrf_token %}
        <div class="form-group">
          <label for="interval_a">Ingrese punto inicial de intervalo:</label>
          <input type="number" class="form-control" id="interval_a" name="interval_a"
            placeholder="Ingresar punto inicial del invervalo" step="any" required>
        </div>
        <div class="form-group">
          <label for="interval_b">Ingrese punto final de intervalo:</label>
          <input type="number" class="form-control" id="interval_b" name="interval_b"
            placeholder="Ingresar punto final del invervalo" step="any" required>
        </div>
        <div class="form-group">
          <label for="tolerance">Tolerancia:</label>
          <input type="number" class="form-control" id="tolerance" name="tolerance" placeholder="Ingresar tolerancia"
            step="any" required>
        </div>
        <div class="form-group">
          <label for="max_iterations">Máximo numero de iteraciones: </label>
          <input type="number" class="form-control" id="max_iterations" name="max_iterations"
            placeholder="Ingresar número de iteraciones" required>
        </div>
        <div class="form-group">
          <label for="function_input">Función a evaluar: </label>
          <input type="text" class="form-control" id="function_input" name="function_input"
            placeholder="Ingresar función" required>
        </div>
        <div class="mb-3">
          <label for="form-check">Precisión: </label>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="precision" id="correct_decimals" value=1 checked>
            <label class="form-check-label" for="correct_decimals">
              Decimales correctos
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="precision" id="significant_numbers" value=0>
            <label class="form-check-label" for="significant_numbers">
              Cifras significativas
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-dark">Encontrar aproximación a la raíz</button>
      </form>
    </div>
    {% if template_data %}
    <div class="mt-5 container">
      <div class="alert alert-dark" role="alert">
        <h4 class="alert-heading">Información proporcionada por el método</h4>
        <p>{{ template_data.message_method }}</p>
      </div>
    </div>
    {% if template_data.table %}
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">i</th>
          <th scope="col">Xm</th>
          <th scope="col">F(Xm)</th>
          <th scope="col">Error</th>
        </tr>
      </thead>
      <tbody>
        {% for key, row in template_data.table.items %}
        <tr {% if forloop.last %}class="table-warning" {% endif %}>
          <th scope="row">{{ row.iteration }}</th>
          <td>{{ row.approximate_value }}</td>
          <td>{{ row.f_evaluated }}</td>
          <td>{{ row.error }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    {% endif %}

  </div>
</div>

{% endblock %}